.container {
  background-color: grey;
  margin-top: 10px;
}
.container--fluid {
  background-color: rgb(165, 155, 155);
  margin-top: 10px;
}
.container--sm {
  background-color: aqua;
}
.img {
  display: flex;
}
.navbar {
  background-color: blueviolet;
  color: white !important;
}
.navbar-brand {
  color: white;
}
.navbar-brand:hover {
  color: blueviolet;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: blueviolet;
}
.nav-link.active {
  color: white !important;
}
.nav-link.active:hover {
  color: blueviolet !important;
}
.nav-link.dropdown-toggle:hover {
  color: blueviolet !important;
}
.nav-item {
  color: white !important;
}
.nav-item:hover {
  color: blueviolet !important;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.btn-flotante {
  font-size: 16px; /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase; /* Texto en mayusculas */
  font-weight: bold; /* Fuente en negrita o bold */
  color: #ffffff; /* Color del texto */
  border-radius: 5px; /* Borde del boton */
  letter-spacing: 2px; /* Espacio entre letras */
  background-color: #1eace9; /* Color de fondo */
  padding: 18px 30px; /* Relleno del boton */
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.btn-flotante:hover {
  background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}
